<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>stGetBasics</servlet-name>
        <servlet-class>servlets.stGetBasics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stCustomerCare</servlet-name>
        <servlet-class>servlets.stCustomerCare</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stDoctor</servlet-name>
        <servlet-class>servlets.stDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stFrontOffice</servlet-name>
        <servlet-class>servlets.stFrontOffice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stPatient</servlet-name>
        <servlet-class>servlets.stPatient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stBranchMaster</servlet-name>
        <servlet-class>servlets.stBranchMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stProcedure</servlet-name>
        <servlet-class>servlets.stProcedure</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stMSA</servlet-name>
        <servlet-class>servlets.stMSA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stBSA</servlet-name>
        <servlet-class>servlets.stBSA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stTreatmentFile</servlet-name>
        <servlet-class>servlets.stTreatmentFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stPayment</servlet-name>
        <servlet-class>servlets.stPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stLogin</servlet-name>
        <servlet-class>servlets.stLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stUserMaster</servlet-name>
        <servlet-class>servlets.stUserMaster</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stReports</servlet-name>
        <servlet-class>servlets.stReports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stChangePassword</servlet-name>
        <servlet-class>servlets.stChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stLIH</servlet-name>
        <servlet-class>servlets.stLIH</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>stGetBasics</servlet-name>
        <url-pattern>/stGetBasics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stCustomerCare</servlet-name>
        <url-pattern>/stCustomerCare</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stDoctor</servlet-name>
        <url-pattern>/stDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stFrontOffice</servlet-name>
        <url-pattern>/stFrontOffice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stPatient</servlet-name>
        <url-pattern>/stPatient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stBranchMaster</servlet-name>
        <url-pattern>/stBranchMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stProcedure</servlet-name>
        <url-pattern>/stProcedure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stMSA</servlet-name>
        <url-pattern>/stMSA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stBSA</servlet-name>
        <url-pattern>/stBSA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stTreatmentFile</servlet-name>
        <url-pattern>/stTreatmentFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stPayment</servlet-name>
        <url-pattern>/stPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stLogin</servlet-name>
        <url-pattern>/stLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stUserMaster</servlet-name>
        <url-pattern>/stUserMaster</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stReports</servlet-name>
        <url-pattern>/stReports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stChangePassword</servlet-name>
        <url-pattern>/stChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stLIH</servlet-name>
        <url-pattern>/stLIH</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
